@import url("styles/header.css"); /* importando a página de estilização do header */

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
}

body {
    background-color: var(--cor-de-fundo);
}